*{
    box-sizing: border-box;
}
.fire-chat {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.fire-chat > .left, .fire-chat > .right {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.fire-chat > .left {
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
}
#login-form{
    padding: 10px;
}
.fire-chat > .right {
    overflow: hidden;
    width: calc(100% - 300px);
}

.fire-chat > .right .chat-messages {
    height: calc(100% - 80px);
    padding: 10px;
    overflow-x : hidden;
    overflow-y: auto;
}

.fire-chat > .right .chat-input {
    height: 80px;
    text-align: center;
}
#chat-area{
    width: calc(100% - 40px);
    margin: auto;
    height:50px;
    border : 3px solid #aaa;
    padding: 10px 15px;
}

.message{
    margin-top: 15px;
}
.message>.content {
    border: 1px solid #ccc;
    padding: 10px;
    height: auto;
    max-width: 70%;
    background-color: #eee;
    border-radius: 4px;
    position: relative;
    display: inline-block;
}
.message>.content:before {
    content: '';
    display: inline-block;
    border: 7px solid;
    border-color: transparent #ccc transparent transparent;
    position: absolute;
    position: absolute;
    left: -15px;
    top: calc(50% - 7px);
}
.message.me {
    text-align: right;
}
.message.me>.content:before {
    left: auto;
    right: -15px;
    border-color: transparent transparent transparent #ccc;
}
