*{
    box-sizing: border-box;
}
.pt-15{
    padding-top: 15px;
}
.p-10{
    padding: 10px;
}
.full-width{
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#login-form{
    width: 600px;
}
.logo{
    color : #d85252;
}
.fire-chat {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.fire-chat > .left, .fire-chat > .right {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
.fire-chat > .left {
    overflow-x: hidden;
    overflow-y: auto;
    width: 250px;
    border-right: 1px solid #ccc;
}
.fire-chat > .right {
    overflow: hidden;
    width: calc(100% - 250px);
}
.fire-chat > .right .chat-messages {
    height: calc(100% - 70px);
    overflow-x : hidden;
    overflow-y: auto;
}
.message{
    transition: background-color 0.3s ease;
    cursor: text;
    display: flex;
    padding: 2px 5px;
}
.message .header{
    margin: 10px 0 5px;
}
.message:hover{
    background-color: #efefef;
}
.message .icon{
    width: 60px;
}
.message .icon .avatar{
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
    margin: 10px 0 5px 5px;
}
.message .time,.message .action{
    color: #aaa;
}
.message .action{
    float : right;
    padding-right: 10px;
    padding-top: 3px;
    cursor: pointer;
}
.message .icon .time,.message .action{
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}
.message:hover .icon .time,.message:hover .action{
    opacity: 1;
    pointer-events: all;
}
.message .content {
    word-break: break-all;
    border-radius: 4px;
    display: inline-block;
}
.message .content img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin : 7px 0;
}
#profile .avatar {
    width: 60px;
    height: 60px;
    display: inline-block;
    object-fit: cover;
    cursor: pointer;
}
.chat-input{
    padding: 15px 30px 15px;
}
#chat-area{
    margin: auto;
    height : 40px;
    border : 3px solid #aaa;
    padding: 10px 15px;
}
.chat-input .input-group-addon{
    border : 3px solid #aaa;
    border-right: none;
    border-top-left-radius: 4px!important;;
    border-bottom-left-radius: 4px!important;
    padding: 0;
    transition: background-color 0.3s ease;
}
.chat-input .input-group-addon:hover{
    background-color: #fff;
}
.chat-input label{
    margin-bottom: 0;
    width: 40px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
}
.online{
    border-top: 1px solid #ccc;
    height: calc(100vh - 80px);
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}
.online>div{
    padding: 5px 0;
}
.online>div:before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1ddc46;
    margin-right: 5px;
}
.online>.offline:before{
    background-color: #ccc;
}